header{
    background-color: #5eb5e0;
    padding: 20px;
}

.enseigne{
    font-size: 80px;
    color: peru;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
}