<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('Asset/css/style.css') }}">

        {% block javascripts %}{% endblock %}
    </head>

    <body>

        <header>
            <h1 class="enseigne" >BLUVEL</h1>
            <span><a href="{{ path('forms_choice') }}">signup</a></span>
            <nav>
                <ul class="menu">
                    {% for categorie in categoriesNav %}
                     <li><a href="{{ path('list_article', {'name':categorie.name}) }}">{{ categorie.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

        </header>


        {% block main %}
        <main>
            <h1>Ceci est le début du projet</h1>
            <iframe src="https://giphy.com/embed/wn8rVP7qC8TNC" width="338" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </main>

        {% endblock %}
        {% block footer %}
        <footer>

        </footer>
        {% endblock %}
    </body>

</html>
