{% extends 'base.html.twig' %}

{% block body %}

    <h1>Choisis ton formulaire d'inscription</h1>

    <span><a href="{{ path('signup_pro') }}">signup pro</a></span>
    <span><a href="{{ path('signup_page') }}">signup lambda</a></span>

{% endblock %}