{% extends 'base.html.twig' %}

{% block body %}

    <h1>La page de l'utilisateur</h1>

    <h2>sinon les crocodiles</h2>

    <p>ici -> ces commandes, les modifs de son compte et tout ça tout ça /p>

{% endblock %}